* { box-sizing: border-box; }
body, p {
    margin: 0;
    padding: 0;
}
.title {
    font-family: "PT Sans", Arial, Verdana, sans-serif;
    margin: 50px 0 0 50px;
    color: #1c72ff;
    letter-spacing: 1px;
}
.form {
    margin: 25px 0 0 50px;
    width: 300px;
}
.form_login { margin-top: 150px; }
.form_red { color: red; }
.form__username {
    display: block;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #999;
    width: 100%;
    margin: 5px 0 25px 0;
}
.form__password {
    display: block;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #999;
    width: 100%;
    margin: 5px 0 15px 0;
}
.form__button {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.website-wrap { margin-top: 12px; }
.textarea {
    resize: none;
    height: 250px;
}